<?xml version="1.0"?>

<launch>
  <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="hector_trajectory_server" output="screen" />
  <node pkg="hector_map_server" type="hector_map_server" name="hector_map_server" output="screen" />
  <node pkg="hector_geotiff" type="geotiff_node" name="hector_geotiff_node" output="screen">
    <param name="map_file_path" type="string" value="$(find hector_geotiff)/maps" />
    <param name="map_file_base_name" type="string" value="" />
    <param name="geotiff_save_period" type="double" value="20" />
  </node>

</launch>

